'scopeName': 'source.cpp'
'name': 'C++14'

'fileTypes': [
    'cpp'
    'h'
    'hpp'
]

# control keywords
'patterns': [{
  'match': '\\b(break|case|catch|const_cast|continue|default|delete|do|dynamic_cast|else|explicit|friend|for|goto|if|namespace|new|operator|private|protected|public|reinterpret_cast|return|sizeof|static_cast|switch|try|typedef|using|virtual|while)\\b'
  'name': 'keyword.control'
},

# preprocessor
{
  'begin': '(?=#)'
  'end': '\\n'
  'name': 'meta.preprocessor'

  # keywords
  'patterns': [{
    'match': '#\\s*(define|elif|else|endif|error|if|ifdef|ifndef|include|line|pragma|warning)\\b'
    'name': 'keyword.control'
  },

  # quotes highlight (e.g. #include "math.h")
  {
    'begin': '"'
    'end': '"|\\n'
    'name': 'string.quoted.other'
  },

  # angle brackets highlight (e.g. #include <cmath>)
  {
    'begin': '<'
    'end': '>|\\n'
    'name': 'string.quoted.other'
  }]
},

# storage types
{
  'match': '\\b(auto|bool|char|class|double|enum|float|int|long|short|signed|struct|template|typename|union|unsigned|void)\\b'
  'name': 'storage.type'
},

# storage modifiers
{
  'match': '\\b(const|register|static|volatile)\\b'
  'name': 'storage.modifier'
},

# language constants
{
  'match': '\\b(false|nullptr|true)\\b'
  'name': 'constant.language'
},

# language variables
{
  'match': '\\bthis\\b'
  'name': 'variable.language'
},

# block comment
{
  'begin': '/\\*'
  'end': '\\*/'
  'name': 'comment.block'
},

# line comment
{
  'match': '//.*$'
  'name': 'comment.line'
},

# numeric literals
{
  'match': '\\b((\\d*\\.\\d+|\\d+\\.)[fFlL]?|(([1-9]\\d*|0[0-7]*|0[xX][\\da-fA-F]+)([lL][uU]?|[lL]{2}[uU]?|[uU][lL]{0,2})?))\\b'
  'name': 'constant.numeric'
}]
