'.source.cpp':
  'editor':
    'commentStart': '// '
    'tabLength': 4
    'increaseIndentPattern': '(?:\\{|:)$|(?:\\bcase\\b.*:.*|\\bdefault\\b:.*)$'
    'decreaseIndentPattern': '(?:^\\s*\\}|\\b(?:case\\b.*|default|private|protected|public):)'
