'.source.cpp':
  'editor':
    'commentStart': '// '
    'tabLength': 4
    'increaseIndentPattern': '\\{|:'
    'decreaseIndentPattern': '(?:^\\s*\\}|\\b(?:case\\b.*|default|private|protected|public):)'
